@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: "Poppins", sans-serif;
}

html {
    background-image: url("../public/assets/bg-curves.png");
    background-position: top;
    background-repeat: no-repeat;
}

.footerCurves {
    background-image: url("../public/assets/footerCurves.svg");
}

.rightCard {
    backdrop-filter: blur(20px) saturate(112%);
    -webkit-backdrop-filter: blur(20px) saturate(112%);
    background-color: rgba(255, 255, 255, 0.70);
    border: 1px solid rgba(255, 255, 255, 0.125);
}

@keyframes slide {
    0% {
        margin-left: 0;
    }

    100% {
        margin-left: -100%;
    }
}

.logo {
    white-space: nowrap;
}

.logos-slide {
    display: flex;
    animation: slide 35s linear infinite;
}

.logos-slide a {
    flex-shrink: 0;
}

.logos:hover .logos-slide {
    animation-play-state: paused;
}

.active {
    background-color: red;
    font-weight: bold;
}