@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: "Poppins", sans-serif;
}

html {
    background-image: url("../public/assets/bg-curves.png");
    background-position: top;
    background-repeat: no-repeat;
}

.footerCurves {
    background-image: url("../public/assets/footerCurves.svg");
}

@keyframes slide {
    0% {
        margin-left: 0;
    }

    100% {
        margin-left: -100%;
    }
}

.logo {
    white-space: nowrap;
}

.logos-slide {
    display: flex;
    animation: slide 35s linear infinite;
}

.logos-slide a {
    flex-shrink: 0;
}

.logos:hover .logos-slide {
    animation-play-state: paused;
}

.bg-blur1 {
    backdrop-filter: blur(16px) saturate(150%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: rgba(212, 212, 216, 0.269);
    border: 2px solid rgba(0, 0, 0, 0.095);
}

.bg-blur2 {
    backdrop-filter: blur(16px) saturate(150%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    border: 2px solid rgba(0, 0, 0, 0.095);
}